QrCodeScanner/.gradle/8.0/executionHistory/executionHistory.bin
QrCodeScanner/.gradle/8.0/executionHistory/executionHistory.lock
QrCodeScanner/.gradle/8.0/fileHashes/fileHashes.bin
QrCodeScanner/.gradle/8.0/fileHashes/fileHashes.lock
QrCodeScanner/.gradle/8.0/fileHashes/resourceHashesCache.bin
QrCodeScanner/.gradle/buildOutputCleanup/buildOutputCleanup.lock
QrCodeScanner/.gradle/buildOutputCleanup/cache.properties
QrCodeScanner/.gradle/buildOutputCleanup/outputFiles.bin
QrCodeScanner/.gradle/file-system.probe
QrCodeScanner/.idea/workspace.xml
QrCodeScanner/local.properties
