QrCodeScanner2/.gradle/8.0/executionHistory/executionHistory.bin
QrCodeScanner2/.gradle/8.0/executionHistory/executionHistory.lock
QrCodeScanner2/.gradle/8.0/fileHashes/fileHashes.bin
QrCodeScanner2/.gradle/8.0/fileHashes/fileHashes.lock
QrCodeScanner2/.gradle/8.0/fileHashes/resourceHashesCache.bin
QrCodeScanner2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
QrCodeScanner2/.gradle/buildOutputCleanup/cache.properties
QrCodeScanner2/.gradle/buildOutputCleanup/outputFiles.bin
QrCodeScanner2/.gradle/file-system.probe
QrCodeScanner2/.idea/workspace.xml
QrCodeScanner2/local.properties
